div.user {
	text-align: right;
	margin-bottom: 20px;
}

.main {
	margin-top: 20px;
}

input#body {
	width: 390px;
}

textarea#description {
	height: 55px;
}

.task {
	margin-bottom: 10px;
}

.task .body {
	font-size: 14pt;
}

#more_options {
	display: none;
}

.task_submit {
	text-align: right;
}

.task_submit input {
	margin-left: 20px;
}