<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<title>Tasks</title>
		<!-- Framework CSS -->
		<link rel="stylesheet" href="/static/stylesheets/screen.css" type="text/css" media="screen, projection" />
		<link rel="stylesheet" href="/static/stylesheets/print.css" type="text/css" media="print" />
		<!--[if IE]><link rel="stylesheet" href="/static/stylesheets/ie.css" type="text/css" media="screen, projection" /><![endif]-->
	</head>
	<body>
		{% block content %}
		{% endblock %}
	</body>
</html>