{% extends "base.html" %}

{% block content %}
	<div class="span-10 prepend-3 append-3">
	<form action="/tasks/new/" method="post">
		<p>
			<label for="body">Task</label><br />
			<input type="text" id="body" class="title" name="body" />
		</p>
		
		<div id="more_options">
			<p>
				<label for="description">Description</label><br />
				<textarea rows="2" id="description" name="description"></textarea>
			</p>
		</div>
		
		<p class="task_submit">
			<a href="#" id="more_options_link">+ More</a> <input type="submit" value="Save" />
		</p>
	</form>
	</div>
	
	{% for task in tasks %}
		<div class="task">
			<div class="body">{{ task.body }}</div>
			<div class="description">{{ task.description }}</div>
		</div>
		{% if not forloop.last %}<hr />{% endif %}
	{% endfor %}
{% endblock %}
